<<<<<<< HEAD
name: Deploy BrainForms FrontEnd

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Rodar teste simples
        run: echo "Nenhum teste configurado"

      - name: Publicar no GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./C:\Users\Luiz Felipe\Desktop\Interface-BrainForms # Pasta raiz do seu projeto
